@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --heading-xl-size: 4rem;
  --heading-lg-size: 3rem;
  --heading-md-size: 1.5rem;
  --heading-sm-size: 1.25rem;
  --body-font-size: 1rem;
  --body-sm-font-size: 0.875rem;

  --bold-font-weight: 600;

  --heading-line-height: 1.1;
  --body-line-height: 1.5;

  --color-blue: #345ff6;
  --color-gunmetal: #253347;
  --color-dark-electric-blue: #5e6e85;
  --color-borders: #d8e2e7;
  --color-pure-white: #ffffff;

  --font-family: 'Inter', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  font-family: var(--font-family);
  color: var(--color-dark-electric-blue);
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--bold-font-weight);
  line-height: var(--heading-line-height);
  color: var(--color-gunmetal);
}

b,
strong {
  font-weight: var(--bold-font-weight);
}

img {
  max-width: 100%;
}

h1 {
  font-size: var(--heading-lg-size);
}

h2 {
  font-size: var(--heading-lg-size);
}

/* Hero Section */

.hero-section {
  text-align: center;
  padding: 0 1rem;
  background: linear-gradient(290.1deg, #d6e6fe 0%, #d6fcfe 100%);
}

.logo {
  width: 2.5rem;
  margin-top: 2rem;
}

.hero-title {
  margin: 1.25rem auto;
}

/*** Form Section */

.hero-bmi-calculator-section {
  background: white;
}

.hero-bmi-calculator-title {
  font-size: var(--heading-md-size);
}

.hero-bmi-calculator-units-selector {
}
