@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --body-font-size: 1rem;
  --body-line-height: 1.5;
  --body-sm-font-size: 0.875rem;
  --bold-font-weight: 600;
  --color-blue: #345ff6;
  --color-borders: #d8e2e7;
  --color-dark-electric-blue: #5e6e85;
  --color-gunmetal: #253347;
  --color-pure-white: #ffffff;
  --font-family: 'Inter', sans-serif;
  --heading-lg-size: 3rem;
  --heading-line-height: 1.1;
  --heading-md-size: 1.5rem;
  --heading-sm-size: 1.25rem;
  --heading-xl-size: 4rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

html {
  padding: 0;
}

body {
  color: var(--color-dark-electric-blue);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  color: var(--color-gunmetal);
  font-weight: var(--bold-font-weight);
  line-height: var(--heading-line-height);
}

h2 {
  letter-spacing: -0.1rem;
}

b,
strong {
  font-weight: var(--bold-font-weight);
}

img {
  max-width: 100%;
}

h1 {
  font-size: var(--heading-lg-size);
}

h2 {
  font-size: var(--heading-lg-size);
}

/* Hero Section */

.hero-section {
  text-align: center;
}

/* Hero Intro */

.hero-intro-section {
  background: linear-gradient(290deg, #d6e6fe 0%, #d6fcfe00 100%);
  border-radius: 0rem 0rem 2.1875rem 2.1875rem;
  padding: 0 1rem 12rem;
}

.logo {
  margin-top: 2rem;
  width: 2.5rem;
}

.hero-title {
  font-size: 3rem;
  letter-spacing: -0.15rem;
  margin: 1.25rem auto;
}

.hero-description {
  padding: 0 1.5rem;
}

/*** BMI Calculator */

.hero-bmi-calculator-section {
  background: white;
  border-radius: 1rem;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  margin: -10rem 1.5rem 0;
  padding: 1rem 1.5rem 3rem;
}

.hero-bmi-calculator-title {
  font-size: var(--heading-md-size);
  letter-spacing: -0.075rem;
}

.hero-bmi-calculator-units-label {
  display: none;
}

.hero-bmi-calculator-units-radio-container {
  display: flex;
  gap: 1rem;
}

.hero-bmi-calculator-units-radio-label {
  color: var(--color-gunmetal);
  cursor: pointer;
  font-weight: 600;
  text-align: left;
  width: 50%;
}

input[type='radio'] {
  appearance: none;
  border: 1px solid #d8e2e7;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 1.9375rem;
  margin: 0 0.75rem 0 0;
  position: relative;
  top: 0.6rem;
  width: 1.9375rem;
}

input[type='radio']:checked {
  background-color: var(--color-blue);
  border: 8px solid #e2e7fc;
}

.imperial-height-input-wrapper {
  width: 100%;
}

.imperial-height-inputs-container {
  display: flex;
  gap: 4%;
  justify-content: space-between;
}

.imperial-height-input-wrapper.hidden {
  display: none;
}

.hero-bmi-calculator-input-label {
  color: #5e6e85;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 1rem 0 0.5rem;
  text-align: left;
}

.label-text {
  width: 100%;
  display: block;
}

.hero-bmi-calculator-input {
  border: 1px solid #d8e2e7;
  border-radius: 0.75rem;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  width: 100%;
}

.hero-bmi-calculator-input::placeholder {
  color: white;
}

.hero-bmi-calculator-input:focus {
  border-color: var(--color-blue);
  outline: none;
}

/* Hide the number incrementor */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bmi-calculator-input-wrapper {
  display: block;
  position: relative;
  width: 100%;
}

.bmi-calculator-input-wrapper:after {
  color: var(--Blue, #345ff6);
  content: '';
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}

.bmi-calculator-height-wrapper--cm:after {
  content: 'cm';
}

.bmi-calculator-height-wrapper--ft:after {
  content: 'ft';
}

.bmi-calculator-height-wrapper--in:after {
  content: 'in';
}

.bmi-calculator-weight-wrapper--kg:after {
  content: 'kg';
}

.bmi-calculator-weight-wrapper--lb:after {
  content: 'lb';
}

.hero-bmi-calculator-results-container {
  background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
  border-radius: 16px;
  color: var(--color-pure-white);
  margin-top: 1.5rem;
  padding: 2rem;
}

.hero-bmi-calculator-results-container {
  text-align: left;
}

.hero-bmi-calculator-results-title {
  color: var(--color-pure-white);
  font-size: 1rem;
}

.hero-bmi-calculator-results-number {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.15rem;
  line-height: 110%;
}

.hero-bmi-calculator-results-description {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}

#hero-bmi-calculator-results-ideal-weight {
  font-weight: 700;
}

/* Explanation Section */

.explanation-image {
  width: 100%;
}

.explanation-section {
  background: var(
    --Gradient-1,
    linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%)
  );
  margin-top: 3rem;
}

.explanation-description-container {
  padding: 1.5rem;
}
.explanation-title {
  font-size: 2rem;
  letter-spacing: -0.1rem;
}

.tips-section {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.tips-card {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.tips-card-title {
  font-size: var(--heading-md-size);
}

/* Limitations Section */

.limitations-section {
  background: var(--Pure-White, #fff);
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin: 4.5rem 1.81rem 6rem 1.19rem;
}

.limitations-title-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.limitations-title {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.limitations-description {
  text-align: center;
}
.limitations-cards-division {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.limitations-descriptions {
  padding: 1.5rem;
  color: var(--color-dark-electric-blue);
}

.limitations-card {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  background: var(--color-pure-white);
}

.limitations-card-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.limitations-card-title {
  letter-spacing: -0.0625rem;
  margin: 0rem;
}

.limitations-card-description {
  margin-top: 0rem;
}

/*********************************** Tablets */
@media screen and (min-width: 768px) {
  .hero-bmi-calculator-title {
    text-align: left;
  }

  #imperial-weight-input-wrapper {
    width: 100%;
  }

  .metric-input-wrapper {
    width: 48%;
  }

  .calculator-numeric-inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
